        *{
           	margin: 0;padding: 0;
        }
        .header{
        	overflow: hidden;
            min-width: 1280px;
        }
        .header_a{
            float: left;
            margin-left: 60px;
        	width: 32px;
        	height: 32px;
        	padding: 11px;
        }
        span{
            float: left;
            font-size: 22px;
            font-weight: bold;
            font-family: "黑体";
            margin-top: 14px;
        }
        .header_b{
        	float: right;
        	margin-right: 40px;
        	padding: 10px 8px 0px 8px;
            font-size: 15px;
        }
        .header_b img{
            width: 13px;
            height: 13px;
        }
        .header_b ul li{
        	float: left;
        	padding: 6px 15px 0px 8px;
        	list-style: none;
        }
        .header_b li{
            width: 80px;
            text-align: center;
        }
        .header_b1{
            color:#e7504d ;
            border-bottom:4px solid #e74f4d;
        }
        .header_b a{
        	display: block;
        	padding-bottom: 17px;
        	text-decoration: none;
        	color: #787878;
          }
        .header_b a:hover{
        	color:#e7504d ;
        	border-bottom:4px solid #e74f4d;
        }
        .article_a{margin: 0 45px auto 43px;overflow: auto;min-width: 1265px;}
        .article_b{
            height:854px;
        	background: url(images/banner_bg.jpg) no-repeat;
            margin-bottom: 20px;
        }
        .article_c{
            float: left;
            margin-left:130px;
            margin-top: 230px;
            color: white;
        }
        .article_c h1{font-size: 55px;font-family: "楷体";}
        .article_c p{font-size: 23px;padding: 12px;}
        .article_c input{width: 300px;height:70px;color: white;background-color: #e8504e;margin-left: 12px;margin-top: 20px;font-size: 23px;border:none;}
        .content_1 {padding: 35px; margin-left:110px; }
        .content_2 {padding: 35px; margin-left:205px; }
        .content_3 {padding: 35px; margin-left:202px; }
        .content_4 {padding: 35px; margin-left:202px; }
        .content1 ul li{
            float: left;
            display: block;
            list-style: none;
            margin-left: 75px;
            color: #787878;
            font-size: 15px;
            padding-left: 10px;
            padding-right: 65px;            
        }
        .content1 li{
            width: 165px;
            line-height: 22px;
            text-align: center;
            border-right: 1px solid #787878;

        }
        .content2{
            margin-top: 125px;
            padding: 10px;
            background-color: #DDDDDD;
        }
        .content2 img {
            margin:80px 580px 20px;
        }
        .content2 p{
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            font-family: "黑体";
            color: #666666; 
            margin-bottom: 80px;
        }
        .content3{
            height: 285px;
            text-align: center;
            padding-top: 55px;
            background:url(images/sec4_06.jpg) no-repeat;
        }
        .content3 h4{
            font-size:25px;
            color: #fff;
            margin: 0px;

        }
        .line{
            width: 35px;
            border-top: 2px #fff solid;
            margin: 15px auto 0;
        }
        
        .lineo{
            font-size: 15px;
            color: #fff;
            padding-top: 15px;
        }
        
        .select{
            overflow: hidden;
            width: 1015px;
            margin: 36px auto;
        }

         .country{
            width: 235px;
            float: left;
            position: relative;
            z-index: 2;
        }

        /*下拉框的显示样式*/
        .guo{
            height: 35px;
            background-color: #fff;
            border:1px #BE4D47 solid;
            color: #9E9E9E;
            font-size: 13px;
            line-height: 35px;
            padding-right:190px;
            background-image: url(images/search_down.png);
            background-repeat: no-repeat;
            background-position: 205px center;
            margin-bottom: 0px;
        }

        .country:hover .guo{
            background-color: #fff;
        }

        /*显示隐藏内容*/
        .country:hover .usa, .country:hover .zhong,  .country:hover .han{
            display: block;
        }

        .usa, .zhong, .han{
            height: 35px;
            background-color: #E2E2E4;
            border-left:1px #BE4D47 solid;
            border-right:1px #BE4D47 solid;
            color: #9E9E9E;
            font-size: 13px;
            line-height: 35px;
            padding-right:140px;
            margin: 0px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            display: none;
        }
    

        /*下拉选项：放置鼠标样式*/
        .zhong:hover, .usa:hover,  .han:hover{
            background-color: #BE4D47;  
            background-image: url(images/search_choose.png);
            background-repeat: no-repeat;
            background-position: 10px center;
            color: #fff;
        }

         .pro{
            width: 235px;
            float: left;
            margin-left: 25px;
            position: relative;
            z-index: 2;
        }

        .opro{
            height: 35px;
            background-color: #fff;
            border:1px #BE4D47 solid;
            color: #9E9E9E;
            font-size: 13px;
            line-height: 35px;
            padding-right:190px;
            background-image: url(images/search_down.png);
            background-repeat: no-repeat;
            background-position: 205px center;
            margin-bottom: 0px;
        }

        
        .pro:hover .opro{
            background-color: #fff;
        }

        /*显示隐藏内容*/
        .pro:hover .bei, .pro:hover .tian, .pro:hover .hubei, .pro:hover .hunan, .pro:hover .guang, .pro:hover .jiangxi, .pro:hover .jiangsu, .pro:hover .zhe{
            display: block;
        }

        .bei, .tian, .hubei, .hunan, .guang, .jiangxi, .jiangsu, .zhe{
            height: 35px;
            background-color: #E2E2E4;
            border-left:1px #BE4D47 solid;
            border-right:1px #BE4D47 solid;
            color: #9E9E9E;
            font-size: 13px;
            line-height: 35px;
            padding-right:128px;
            margin: 0px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            display: none;
        }

        .zhe{
            border-bottom: 1px #BE4D47 solid;
        }

        .bei:hover, .tian:hover, .hubei:hover, .hunan:hover, .guang:hover, .jiangxi:hover, .jiangsu:hover, .zhe:hover{
            background-color: #BE4D47;  
            background-image: url(images/search_choose.png);
            background-repeat: no-repeat;
            background-position: 10px center;
            color: #fff;
        }


      /*  搜索框*/

         .search{
            width: 235px;
            background-color: #BE4D47;
            height: 35px;
            float: left;
            margin-left:25px;
            border-bottom: 1px #BE4D47 solid;
        }

        .search a{
            text-decoration: none;
            letter-spacing: 10px;
            color: #fff;
            font-size: 16px;
            line-height: 35px;
        }

        .content4{
            background-color: #F5F5F5;
            margin:0 auto; 
            overflow: auto;
            padding-top: 50px;
        }
        .content4_1{
            text-align: center;
            float: left;
            margin: 47px; 
        }
        .content4_1 p{font-size: 12px; color: #8E8E8E;padding: 7px;}
        .content4_1 h1{padding-top: 5px; }
        .content4_1 img{
            border: 1px solid #DDDDDD;
            padding: 7px;
        }

        .content5{
            height: 567px;
            position: relative;
        }

        .content5_1{
            height: 451px;
            margin-right: 498px;
            background-image: url(images/sec6pic_03.jpg);
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 116px;
        }

        .content5_1 p{
            color: #fff;
            margin: 0;
        }

        .content5_1a{
            font-size: 50px;
        }

        .content5_1b{
            font-size: 160px;
        }

        .content5_1c{
            font-size: 25px;
        }

        .content5_1d{
            font-size: 18px;
        }

        .content5_2{
            width: 378px;
            height: 390px;
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            padding: 58.5px 60px 118.5px;
        }

        .triangle{
            width: 40px;
            border-width: 30px;
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            position: absolute;
            top: 210px;
            left: -100px;
        }
        .content5_2a{margin-top: 50px;}

        .content5_2b{
            font: 27px "黑体";
        }

        .content5_2c{
            font-size: 27px;
            color: #E64F4D;
            position: relative;
            top: -12px;
            left: 255px;
        }

        .content5_2d{
            font:15px/45px "宋体";
            color: #ACACAC;
            padding: 10px;

        }

        .content5_2e{
            width: 130px;
            height: 40px;
            font: 13px "微软雅黑";
            color: #E64F4D;
            border: 1px #E64F4D solid;
            background-color: #fff;
        }

        .content5_2f, .content5_2g{
            width: 12px;
            height: 12px;
            border: 1px #8E8E8E solid ;
            border-radius: 10px;
            display: inline-block;
            margin: 10px 5px;
        }

        .content5_2f, .content5_2g:hover{
            background-color: #8E8E8E;
        }

        .content6{
            height: 521px;
            position: relative;
            top: -1px;
        }

        .content6_1{
            background-color: #E7504E;
            width: 400px;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 164px;
            color: #fff;
            text-align: center;
            padding:152.5px 0 204.5px;
        }

        .content6_1a, .content6_1b{
            font-size: 20px;
            margin-bottom: 0px;
        }

        .content6_1c{
            height: 30px;
            width: 30px;
            border-bottom: 2px #fff solid;
            display: inline-block;

        }

        .content6_1d{
            margin-top: 10px;
            width: 160px;
            height: 40px;
            border: 1px #FFF solid;
            background-color: #E7504E;
            font: 15px "微软雅黑";
            color: #fff;
        }

        .content6_2{
            margin:0 498px 0 425px;

            height: 164px;
            text-align: center;
            padding:152.5px 0 204.5px;
        }

        .content6_2a, .content6_2b{
            font-size: 20px;
            margin-bottom: 0px;
        }

        .content6_2c{
            height: 30px;
            width: 30px;
            border-bottom: 2px #ABABAB solid;
            display: inline-block;

        }

        .content6_2d{
            margin-top: 10px;
            width: 160px;
            height: 40px;
            border: 1px #E7504E solid;
            background-color: #FFF;
            font: 15px "微软雅黑";
            color: #E7504E;
        }

        .content6_3{
            width: 498px;
            background-image: url(images/more_right.jpg);
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 521px;
        }


        .triangle2{
            width: 30px;
            border-width: 30px;
            border-color: transparent transparent transparent #fff;
            border-style: solid;
            position: absolute;
            top: 199px;
            left: 0px;
        }

        .content7{
            height: 500px;
            padding: 130px 150px;
        }

        .content7_1{
            text-align: center;
            padding-bottom: 120px;
            margin: 0;
        }

        .content7_1a{
            font-size: 25px;
            margin: 0;
        }

        .content_1b{
            height: 10px;
            width: 30px;
            border-bottom: 2px #E7504E solid;
            display: inline-block;
        }

        .content7_1c{
            margin:12px 0 0 0;
        }

        .content7_1c, .content7_1d{
            font-size: 12px;
            color: #B0B0B0;
        }

        .content7_1d{
            margin: 0;
        }

        .content7_2{
            margin: 0 auto;
            height: 310px;
            position: relative;
        }


        .content7_2a{
            width: 300px;
            float: left;
        }

        .content7_2a span{
            text-align: right;
            background-image: url("images/true.png");
            background-repeat: no-repeat;
            text-indent: 254px;
            font: 13px/20px "宋体";
            margin: 0;
            background-position: 240px 8px;
        }

        .content7_2b{
            display: block;

        }

        .content7_2c{
            font-size: 16px;
            padding: 6px;
            margin-bottom: 8px;
        }

        .content7_2d{
            font: 10px/20px "宋体";
            color: #9D9D9D;
            margin: 0;
            padding: 6px;
            line-height: 26px;
        }

        .content7_2e{
            text-decoration: none;
            color: #9D9D9D;
        }

        .content8{
            margin-left: 300px;
        }

        .content8_1{
            margin: 0 0 0 auto;
            width: 651px;
        }

        .content8_1a{
            border: none;
            float: left;
            margin: 6px;
            width: 300px;
            height: 40px;
            background-color: #ECECEE;
            font-size: 12px;
            padding-left: 10px;
            font: 12px "微软雅黑";
        }

        .content8_1b{
            font: 12px "微软雅黑";
            display: inline-block;
            margin: 6px;
            width: 626px;
            padding-left: 10px;
            padding-top: 10px;
            height: 95px;
            background-color: #ECECEE;

            border: none;
        }

        .content8_1c{
            border: none;
            background-color: #ECECEE;
            display: inline-block;
            margin: 6px;
            width: 637px;
            height: 40px;
            font: 15px "微软雅黑";
        }

        

        /**
         * 底栏
         */

        .footer{

            margin: 0 45px auto 43px;
            min-width: 1265px;
        }
        .ft{
            height: 205px;
            background-color: #32353E;
            color: #fff;
            text-align: center;
            padding: 60px 0 45px 0;
        }

        .fp1{
            font: 20px "黑体";
            margin: 0 0 10px;
        }

        .fp2{
            font-size: 12px;
            margin: 0;
        }

        .fsearch{
            margin-top: 31px;
        }

        .fi1{
            width: 400px;
            height: 35px;
            border:none;
            padding: 0 0 0 10px;
        }

        .fi2{
            height: 35px;
            width: 80px;
            background-color: #707078;
            border-right: none;
            border-top: none;
            border-left: none;
            border-bottom: 3px #707078 solid;
            font: 15px "微软雅黑";
            color: #fff;
            padding: 0;
            
        }

        .icon img{
            margin: 15px;
        }

        .ff{
            height: 21px;
            background-color: #2F2F39;
            color: #fff;
            padding: 20px 0 20px 0;
        }

        .ff span, .ff a{
            font-size: 12px;
        }

        .ff span{
            margin-left: 80px;
        }

        .ff a{
            text-decoration: none;
            color: #fff;
            float: right;
            margin-right:   80px;
        }


