        body{
            background-color: #D0D0D0;
            margin: 0;padding: 0;
        }
        .top{
            min-width: 1144px;
            height: 60px;
            width: 100%;
            background: #333;
        }

        .img{
            float: left;
            margin: -10px auto 4px 20px;
            width: 150px;
            height: 70px;

        }
        .top ul{float:right;}
        .top li {
            height: 50px;
            line-height: 50px;
            float: left;
            margin-right: 20px; 
        }
        .top a{
            color: #FFFFFF;
            font-size: 15px;
            text-decoration: none;
        }

        .article_a{
            min-width: 1040px;
            background: #FFFFFF;
            margin: 25px;
            padding: 25px;
            overflow:auto;
        }
        .article_a ul li{
            list-style: none;
            padding: 10px;
            margin-left: 20px;
        }
        .article_a span{
            color: #808080;
            line-height: 30px;
        }
        .article_a p{
            display: inline-block;
            line-height: 30px;
        }
        .article_a h1 h4{
            font-family: "黑体";
            line-height: 40px;
        }
        .article_a h4{
            color: #808080; 
        }
        figure{
            width: 140px;
            border: 1px solid #808080;
            margin-top: 15px;
            margin-left: 45px;
            padding: 15px;
            text-align: center;
        }
        figcaption{
            padding-bottom: 10px;
        }
        figure img{
            width: 125px;
            height: 120px;
        }
        .article_a ol li{
            margin-left: 55px;
            padding: 5px;
        }
        .table_a{
            width: 100%;
            border:1px solid #CECECE;
            border-collapse: collapse;
            font-family: ;
        }
        .table_a tr,td{
            padding: 5px;
            margin: 5px;
            border:1px solid #CECECE;
        }
        tr:first-child{
            color: #FFFFFF;
            background-color: #000000;
        }

        tr:last-child{
            background-color: #CCCCCC;
        }
        .aside{
            min-width: 1070px;
            padding: 10px;
            font-size: 14px;
            line-height: 40px;
        }
        .line{
            float: left;
            height: 40px;
            border-left: 4px solid #D0D0D0;
            padding: 3px;
        }
        .aside_a{
            margin-left: 400px;
        }
        .aside_b{
            margin-left: 427px;
        }
        .aside_c{
            margin-left: 470px;
            padding-right: 6px;
        }
        .aside_d{
            float: left;
            margin-left: 442px;
            padding-right: 6px;
        }
        .aside_a span{margin-left: 507px;}
        .submit{
            width: 100%;
            color: #FFFFFF;
            padding: 8px;
            font-size: 16px;
            font-weight: block;
            background-color: #6600FF;
            border-radius: 8px;
        }
        .footer{
            min-width: 1105px;
            background-color: black;
            height: 40px;
            text-align: center;
            color:white;
            padding: 20px;
        }
