        *{margin: 0;padding:0;}/*清除浏览器默认样式*/
        body{
            margin:0px;
            padding:20px;
        }
        div{
            padding:20px;
        }
        .contain{
            overflow:auto;
            border: 1px solid #999;
            background-color: #eee;
        }
        .left{
            float:left;
            border: 1px solid #999;
            background-color: white;
            width: 160px;
        }
        .right{
            float:right;
            padding:20px;
            border: 1px solid #999;
            background-color: white;
            width: 80px;
        }
        .center{
            border: 1px solid #999;
            margin-left: 220px;
            margin-right:140px;
            background-color: white;
        }
        .logo{
            width:80px;
            height:80px;
            padding:0px;
            float:left;
            border: 1px solid #999;
            background-color: #0f0;
            margin-bottom: 20px;
        }
        .margin0{
            margin:0px;
        }
        .logo img{
            padding-bottom:20px;
        }
        .teamName{
            padding:0px;
            float:right;
            font-size: 16px;
            font-family:"黑体";
            font-weight: bold;
        }

